.App {
  text-align: center;
  position: relative;
  height: 100vh;
  overflow: hidden;
  font-family: 'Poppins';
  background: linear-gradient(203.34deg, #2AA7BC 0%, #6EB54C 49.49%, #E7DB3A 100.02%);
}

.App-header {
  position: absolute;
  top: 192px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.App-header button {
  margin-bottom: 18px;
}

.description {
  color: #fff;
  margin-bottom: 43px;
}

.hidden {
  display: none;
}
.logo {
  margin-bottom: 22px;
}

.forgot {
  color: #81317A;
  text-decoration: none;
  margin-bottom: 45px;
}


.App-link {
  color: #61dafb;
}

  